*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: #FBFBFB;
    width: 100%;
    max-width: 1600px;
}

header{

}

#navbar{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 120px;
    align-items: center;
}

#navbar .logo{
    max-width: 139px;
    max-height: 60px;
    
}

#navbar .logo img{
    max-width: 139px;
    max-height: 60px;
}

.menu{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 32px;
}

.menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}







